---
import type { SelectProperty } from '../lib/interfaces.js'
import '../styles/notion-color.css'

export interface Props {
  heading: string
}

const { heading } = Astro.props
---

<div class="feed-link">
  <h2>{heading}</h2>
  <div class="url">https://medeblogdayo.lprz.xyz/feed</div>
</div>

<style>
  .feed-link {
  }
  .feed-link h2 {
    margin: 0;
    padding-left: 0.4rem;
    color: #fff;
    font-size: 0.95rem;
  }
  .feed-link .url {
    border: 1px #000000 solid;
    margin-top: 0.3rem;
    padding: 0 0.2em;
    color: #ded;
  }
</style>
